<%= form_for(@product) do |f| %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :type %><br />
  <%= f.text_field :product_type %>
</p>

<p>
  <%= f.label :producer %><br />
  <%= f.text_field :producer %>
</p>

<p>
  <%= f.label :image %><br />
  <%= f.file_field :image%>
</p>

<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>
